.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 12px;
    background: #444;
    padding-bottom: 20px;
}

img{
    width: 300px;
    border-radius: 12px 12px 0px 0px;
}

.card p {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

#nameTitle{
    font-weight: bolder;
    font-size: 20px;

}
